<!--
  ~ Copyright (c) haipham 2019. All rights reserved.
  ~ Any attempt to reproduce this source code in any form shall be met with legal actions.
  -->

<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:dist="http://schemas.android.com/apk/distribution"
  package="org.swiften.redux.android.dagger">

  <dist:module dist:instant="true"/>

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:name=".MainApplication"
    android:allowBackup="true"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

  </application>

</manifest>
